fastapi
redis
types-redis
uvicorn
python-dotenv 
PyPDF2 
pymongo 
google-api-python-client
langchain
google-generativeai
python-multipart
pdfplumber
aiohttp
langchain_google_genai
langchain_astradb
langchain_google_genai
langchain_community
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
astrapy
attrs
cachetools
cassandra-driver
cassio
certifi
charset-normalizer
click
colorama
dataclasses-json
deprecation
distro
dnspython
docstring_parser
filelock
frozenlist
fsspec
geomet
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-generativeai
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
h2
hpack
httpcore
httplib2
httpx
huggingface-hub
hyperframe
idna
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-astradb
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
langchain-mongodb
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
mpmath
multidict
mypy-extensions
networkx
numpy
openai
orjson
packaging
pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic-settings
pydantic_core
pymongo
pyparsing
pypdf
PyPDF2
python-dateutil
python-dotenv
PyYAML
regex
requests
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shapely
six
sniffio
SQLAlchemy
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tqdm
transformers
typing-inspect
typing_extensions
uritemplate
urllib3
uuid6
yarl
